#nav-admin{
    .navigation{
        background-color: blue;
        color: white;
        width: 200px;
        height: 100vh;
        position: fixed;
        ul{
       
            padding: 20px;
            li{
                margin-bottom: 20px;
                .active{
                    color:black;
                }
                a{
                   color: inherit; 

                }
            }
        }
    }
    
}