#nav-admin{
    .navigation{
        background-color: var(--main--color);
        width: 200px;
        height: 100vh;
        position: fixed;
        ul{
       
            padding: 20px;
            li{
                margin-bottom: 20px;
                .active{
                    color: var(--third--color);
                }
                a{
                   color: inherit; 

                }
            }
        }
    }
    
}