.adminpage{
    .center{
        text-align: center;
        padding-top: 80px;
    }
    h4{
        text-align: center;
        padding-top: 20px;
        font-size: 28px;
        a{
color: #1D2327;
        }
    }
    .chart1{
        margin-top: 70px;
        margin-bottom: 50px;
       
    }
    .chart2{
        margin-bottom: 30px;
      
    }
}