.blog-details{
    padding: 150px 0;
    background-color: var(--main--color);

.rigt{
  .dataa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    border-bottom: 1px solid #b7b7b7;
   .gra{
    width: 40px;
    height: 1px;
    background-color: #b7b7b7;
margin-bottom: 10px;
   }
  }  
  .sosi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 50px 0;
    .writt{
        span{
            font-size: 12px;
        }
        p{
            font-weight: 600;
        }
    }
    .sosials{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 20px;
    }
  }
  .fofo{
    margin-top: 80px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    img{
        width: 31%;
    }
  }
}
}
@media screen and (max-width:992px) {
    
}