.formadd{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    form{
        .inpp{
            
            margin-bottom: 20px;
        input{
            padding: 10px;
            outline-color: blue;
border-radius: 10px;
border: 1px solid blue;
        }
        }
    }
}