#services{
padding: 100px 0;
background-color: var(--main--color);
#discover{
    .ser{
          h6{
    border-top: 1px solid var(--second--color);
    padding: 20px 0 5px; 
    a{
        transition: .5s;
        color:inherit ;
    &:hover{
        color: var(--third--color);
        transition: .5s;
    }
   
}
    }  
p{
    height: 100px;
    padding: 20px 0 20px;  
}
}

   }


}
